table, th, td {
	border:1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
}

tbody{
	display:block;
	overflow-y:scroll;
	height: 200px;
	width: 100%;
}

thead{
	width: 100%;
}

thead tr {
	display: block;
}

th, td {
	padding: 5px;
	text-align: left;
	width: 200px;
	word-wrap: break-word;
	word-break: break-all;
}

#file-image {
	border:1px solid black;
	width: 800;
	height:800;
	overflow:scroll;
}
